{% extends 'user/base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Reset Password</div>

                <div class="card-body">
                    <form method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="new_password1" class="col-md-4 col-form-label text-md-right">{{ form.new_password1.label_tag }}</label>
                            <div class="col-md-6">
                                {{ form.new_password1 }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="new_password2" class="col-md-4 col-form-label text-md-right">{{ form.new_password2.label_tag }}</label>
                            <div class="col-md-6">
                                {{ form.new_password2 }}
                            </div>
                        </div>

                        {% if form.errors %}
                        <div class="form-group row">
                            <div class="offset-md-4 col-md-6">
                                <p class="error">{{ form.errors }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
