{% extends 'user/base.html' %}

{% block title %}Verify OTP for Password Reset{% endblock title %}

{% block content %}
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">Verify OTP</h2>
        <p>Enter the OTP sent to your email or phone number to reset your password.</p>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
      

        <form method="post" action="{% url 'verify_otp_forget_password' %}">
          {% csrf_token %}
          {{ form.otp.label_tag }} {{ form.otp }}
          
          {% if form.errors %}
            <p class="error">{{ form.errors }}</p>
          {% endif %}

          <button type="submit" class="btn btn-primary mt-3">Verify OTP</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
